body {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.container {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(50, 198, 239);
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.box{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.fizz{
    background-color: red;
}

.buzz{
    background-color: blue;
}

.fizz-buzz{
    background:linear-gradient(red, blue);
}